serverless-test-project/state-machine.yml
StartAt: What Next?
States:
  What Next?:
    Type: Choice
    Choices:
      - Variable: $.destination
        StringEquals: fail
        Next: Fail
      - Variable: $.destination
        StringEquals: timeoutTask
        Next: TimeoutTask
      - Variable: $.destination
        StringEquals: keepWaiting
        Next: KeepWaiting
      - Variable: $.destination
        StringEquals: stress
        Next: StressTransitions
    Default: Succeed
  TimeoutTask:
    Type: Task
    TimeoutSeconds: 1
    Resource: !GetAtt PingLambdaFunction.Arn
    Parameters:
      'sleepSeconds': 3
    Next: Succeed
  KeepWaiting:
    Type: Wait
    Seconds: 1
    Next: KeepWaiting
  StressTransitions:
    Type: Map
    ItemsPath: $.children
    End: true
    Parameters:
      'item.$': '$$.Map.Item.Value'
    Iterator:
      StartAt: IterateLevel1
      States:
        IterateLevel1:
          Type: Map
          InputPath: $.item
          ItemsPath: $.children
          End: true
          Parameters:
            'item.$': '$$.Map.Item.Value'
          Iterator:
            StartAt: Loop
            States:
              Loop:
                Type: Pass
                Next: Loop
  Fail:
    Type: Fail
  Succeed:
    Type: Pass
    End: true
